---
layout: base
---
<style>
  .responsive-pdf-container {
      overflow: hidden;
      padding-top: 141.42%; /* Approx A4 ratio */
      position: relative;
  }
  .dark-mode {
    filter: invert(1.0) saturate(1.2) brightness(1.0) contrast(0.9);
  }
  .responsive-pdf-container iframe {
      border: none;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function requestFullscreen(element) {
      if (element.requestFullscreen) {
        element.requestFullscreen();
      } else if (element.webkitRequestFullscreen) { /* Safari */
        element.webkitRequestFullscreen();
      } else if (element.msRequestFullscreen) { /* IE11 */
        element.msRequestFullscreen();
      }
    }

    document.getElementById('fullscreenButton').addEventListener('click', function() {
      var iframe = document.querySelector('.responsive-pdf-container iframe');
      requestFullscreen(iframe);
    });

    function toggleDarkMode() {
      var iframe = document.querySelector('.responsive-pdf-container iframe');
      var button = document.getElementById('toggleDarkMode');
      
      iframe.classList.toggle('dark-mode');
      
      if (iframe.classList.contains('dark-mode')) {
          button.textContent = 'Light Mode';
      } else {
          button.textContent = 'Dark Mode';
      }
    }

    document.getElementById('toggleDarkMode').addEventListener('click', toggleDarkMode);

    function applyInitialTheme() {
        const theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
        var iframe = document.querySelector('.responsive-pdf-container iframe');
        var toggleButton = document.getElementById('toggleDarkMode');

        if (theme === 'dark') {
            iframe.classList.add('dark-mode');
            toggleButton.textContent = 'Light Mode';
        } else {
            iframe.classList.remove('dark-mode');
            toggleButton.textContent = 'Dark Mode';
        }
    }

    applyInitialTheme();
  });
</script>

<article class="paper">
  <h1>{{ page.title }}</h1>
  <p><i>{{ page.date | date: "%B %d, %Y" }}</i></p>
  <a href="{{ page.paper_url | replace: 'http://', 'https://' }}">{{ page.paper_url | replace: 'http://', 'https://' }}</a><br>
  {% if page.code_url %}
  <a href="{{ page.code_url }}">{{ page.code_url }}</a>
  {% endif %}
  <br>
  <button id="fullscreenButton">Fullscreen</button>
  <button id="toggleDarkMode">Dark Mode</button>
  <br>
  <div class="responsive-pdf-container">
      <iframe src="{{ page.paper_url | replace: 'http://', 'https://' }}" style="border: none;"></iframe>
  </div>
</article>
